@model List<KurSite.Models.Kur>
@{
    ViewBag.title = "Kurlar";
    ViewBag.kur = "active";
}

<div class="tab d-flex justify-content-evenly">
    <button class="tablinks active" onclick="Tabs(event, 'KurListesi')">Kur Listesi</button>
    <button class="tablinks" onclick="Tabs(event, 'Ayarlar')">Ayarlar</button>
    <button class="tablinks" onclick="Tabs(event, 'KurCevirici')">Kur Çevirisi</button>
</div>

<div id="KurListesi" class="tabcontent" style="display: block;">
    <div class="py-2 px-5 table-responsive-sm">
        <div class="col mb-3">
            <div>
                <form method="post" action="/Home/Index">
                    <div class="row">
                        <div class="col-8">
                            <input type="text" class="form-control" placeholder="Kur Kodu" name="code">
                        </div>
                        <div class="col-2">
                            <input type="submit" class="btn btn-primary" value="Ara">
                        </div>
                        <div class="col-2">
                            <input type="button" onclick="downloadToExcel()" class="btn btn-primary" value="Excel Formatında İndir">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-hover table-striped" id="forexTable">
            <thead>
                <tr class="table-dark">
                    <th>
                        Döviz Kodu
                    </th>
                    <th>
                        Adı
                    </th>
                    <th>
                        Alış Fiyatı
                    </th>
                    <th>
                        Satış Fiyatı
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forex in Model)
                {
                    <tr>
                        <td class="fw-bold">
                            @forex.ForexCode/TRY
                        </td>
                        <td>
                            @forex.ForexName
                        </td>
                        <td>
                            @forex.ForexBuying
                        </td>
                        <td>
                            @forex.ForexSelling
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="Ayarlar" class="tabcontent">
    <div class="p-5">
        <div class="row">
            <div class="col-4">
                <form method="post" action="/Home/SelectDate">
                    <div class="row">
                        <div class="col-9">
                            <input type="date" name="date" class="form-control" />
                        </div>
                        <div class="col-3">
                            <input type="submit" value="Listele" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-end">
                            <input type="color" id="color" class="form-control-color" />
                        </div>
                    </div>
                    <div class="col">
                        <input type="button" id="colorChangeButton" value="Yazı Rengi Değiştir" class="btn btn-outline-success" />
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-end">
                            <input type="number" id="fontSize" class="form-control" value="12" min="12" max="30" />
                        </div>
                    </div>
                    <div class="col">
                        <input type="button" id="fontSizeChangeButton" value="Font Büyüklüğü Değiştir." class="btn btn-outline-info" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-6">
        <div class="col-6">
            <div class="p-5 border  rounded-3 shadow-sm mb-5">
                <div class="py-3 text-center fs-4 fw-bold">
                    Kayıtlı Kurlar
                </div>
                <ul class="list-group" id="savedForexList">
                </ul>
                <div class="d-flex my-3 justify-content-center">
                    <button class="btn btn-outline-primary"id="saveOrderButton">
                        Kaydet
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>


<form method="post" action="/Home/Exchange">
    <div id="KurCevirici" class="tabcontent">
        <div class="p-5">
            <div class="row align-items-center">
                <div class="col-5">
                    <div class="text-secondary fs-6">
                        <div class="my-2"><span id="numberText">@ViewBag.number</span> <span id="firstForex" class="text-capitalize">@ViewBag.firstForex</span> Eşittir</div>
                    </div>

                    <div class="fw-bold fs-2"><span id="forexValue">@ViewBag.exchangeValue</span> <span id="secondForex" class="text-capitalize">@ViewBag.secondForex</span></div>

                </div>

                <div class="col-7">
                    <div class="row">
                        <div class="col-2 py-5 px-1">
                            <input type="number" class="form-control" name="number" id="number" value="@ViewBag.number" />
                        </div>
                        <div class="col-5 p-5">
                            <select class="form-select" name="firstForexSelected" id="firstForexSelected">
                                @foreach (var item in Model)
                                {
                                    <option selected value="@item.ForexBuying">@item.ForexName</option>
                                }
                            </select>
                        </div>


                        <div class="col-5 p-5">
                            <select class="form-select" name="secondForexSelected" id="secondForexSelected">
                                @foreach (var item in Model)
                                {
                                    <option value="@item.ForexBuying">@item.ForexName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center ">

                        <button type="button" class="btn btn-primary" id="exchangeButton" onclick=" savedForexListUpdate('exchange')">Çevir</button>
                    </div>

                </div>
            </div>


        </div>
        <div class="mt-3 border p-5">
            <div class="fw-bold fs-2 mb-3">
                Kur Kaydetme
            </div>
            <div class="row">
                <div class="col-6">
                    <select class="form-select" id="forexSaveSelect">
                        @foreach (var item in Model)
                        {
                            <option value="@item.ForexBuying">@item.ForexName</option>
                        }
                    </select>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-start">
                        <button type="button" class="btn btn-success" id="forexSaveButton">Kaydet</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="mt-3 border p-5">
            <div class="row row-cols-6">
                <div class="col-6">
                    <div class="p-5 border  rounded-3 shadow-sm mb-5">
                        <div class="py-3 text-center fs-4 fw-bold">
                            Kayıtlı Kurlar
                        </div>
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Kayıtlı Kur
                                    </th>
                                    <th>
                                        Güncel Değeri(TL)
                                    </th>
                                    <th>
                                        Çevirililen Kur Adeti
                                    </th>
                                    <th>
                                        Çevirililen Kur
                                    </th>
                                    <th>
                                        Değer
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="savedForexRows">
                                <tr>
                                    <td>
                                        Kayıtlı Kur
                                    </td>
                                    <td>
                                        Güncel Değeri(TL)
                                    </td>
                                    <td>
                                        Çevirililen Kur Adeti
                                    </td>
                                    <td>
                                        Çevirililen Kur
                                    </td>
                                    <td>
                                        Değer
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>


<script src="~/scripts/jquery-3.7.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="~/scripts/home/app.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/scripts/home/exportToExcel.js"></script>
<script src="~/scripts/home/exchange.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
<script src="~/scripts/home/forexSave.js"></script>
<script>
    function Tabs(evt, Name) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(Name).style.display = "block";
        evt.currentTarget.className += " active";
    }
    $(function () {
        $("#savedForexList").sortable();
        $("#savedForexList").disableSelection();
    });


</script>
